*{
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
}
#cards{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;

}
.card{
    position: relative;
    width: 150px;
    background-color: whitesmoke;
    color: white;
    padding: 0 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    cursor: pointer;
}
.card:hover{
    filter: brightness(1.1);
    box-shadow: 2px 2px 5px rgb(0, 0, 0), inset 1px 1px 1px rgb(255, 255, 255);

}

.containerTypes{
    position: absolute;
    top: 32px;
    left: 8px;
    display: flex;
    flex-direction: column;
}
.type{
    padding: 4px 8px;
    background-color: rgba(245, 245, 220, 0.356);
    border-radius: 50px;
    text-align: center;
    font-size: small;
    margin-top: -16px;
}

.cardImg{
    height: 60px;
    margin-top: 8px;
    max-width: 80px;
    filter: drop-shadow(1px 1px 3px rgb(58, 58, 58));
}
.pokeName{
    text-shadow: 1px 1px 2px black;
    font-size: medium;
    margin: 8px 0;
    width: 100%;
}


