.water{
    background:rgb(61, 143, 143); 
}
.grass{
    background: rgb(0, 175, 0);

}
.fire{
    background: red;
}
.rock{
    background: gray;

}
.poison{
    background: rgb(47, 116, 41);
}
.flying{
    background: rgb(52, 175, 175);
}
.fighting{
    background: rgb(185, 152, 91);
}
.dark{
    background: rgb(116, 66, 116);

}
.fairy{
    background: rgb(43, 59, 112);
    
}
.ground{
    background: brown;

}
.bug{
    background: yellowgreen;
}
.ghost{
    background: rgb(56, 56, 114);

}
.steel{
    background: steelblue;

}
.electric{
    background: rgb(201, 204, 0);

}
.psychic{
    background:  rgb(110, 0, 124);

}
.ice{
    background: rgb(100, 230, 230) ;

}
.dragon{
    background: rgb(255, 183, 50);

}
.shadow{
    background: #000;

}
.normal{
    background: rgb(209, 209, 209);

}